#header {
    background-color: #000;
    padding: 10px;

}

.site-title a {
    text-decoration: none;
    color: #fff;
}

.wrapper {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 20px;

}

@media screen and (max-width:680px) {
    .site-title {
        text-align: center;
    }
    
    .btn {
        margin: 60px 0;
    }
}