.section-title  {
    margin: 60px 0;
    text-align: center;
}
table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
    
}
th {
    padding: 10px;
    width: 25%;
    border: 1px solid #ccc;
    background-color: aliceblue;
}
td {
    padding: 10px;
    width: 75%;
    border: 1px solid #ccc;
}
.btn {
    margin: 60px auto;
    background-color: #000;
    padding: 10px;
    
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    /* display: inline-block;  */
    width: 150px;
    
}
    
button {
    color: #fff;
    
}
@media screen and (max-width:680px) {
    
    table {
        font-size: 0.7rem;
    }.btn {
       
        /* width: 280px; */
    }
}
